@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

input[type="checkbox"]#terms {
    display: none;
}

input[type="checkbox"]#terms+span {
    display: block;
    position: relative;
    padding-left: 35px;
    user-select: none;
    /* Evita que el texto sea seleccionable */
}

input[type="checkbox"]#terms+span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border: 2px solid #ccc;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

input[type="checkbox"]#terms:checked+span:before {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

input[type="checkbox"]#terms:checked+span:after {
    content: "✔";
    position: absolute;
    left: 6px;
    top: 2px;
    color: black;
    font-size: large;
    font-weight: 600;

}

select,
input {
    -webkit-appearance: none;
    /* Remueve el estilo por defecto en Safari */
    -moz-appearance: none;
    /* Remueve el estilo por defecto en Firefox */
    appearance: none;
    /* Remueve el estilo por defecto en otros navegadores */
    background: transparent;
    /* Fondo transparente */
    border: none;
    /* Sin bordes */
    padding: 0;
    /* Sin padding */
    margin: 0;
    /* Sin margen */
    font: inherit;
    /* Heredar la fuente */
    color: inherit;
    /* Heredar el color */
}

input {
    border: inherit;
}

/* Customizar el expandir del select */
select::-ms-expand {
    display: none;
    /* Ocultar el icono de expandir en IE 10 y 11 */
}

/* Eliminar el borde de los select al momento de hacer click */
select:focus,
input:focus {
    outline: none;
}

/* Remove arrows/spinners in input[type=number] */
input[type='number'] {
    appearance: textfield;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Estilos para scrollbar normal */
::-webkit-scrollbar {
    width: 8px;
    /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Color del fondo del scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color del thumb (la barra móvil) */
    border-radius: 4px;
    /* Radio de borde del thumb */
}

/* Estilos para scrollbar en modo oscuro */
.dark ::-webkit-scrollbar {
    width: 8px;
    /* Ancho del scrollbar */
}

.dark ::-webkit-scrollbar-track {
    background-color: #333;
    /* Color del fondo del scrollbar */
}

.dark ::-webkit-scrollbar-thumb {
    background-color: #666;
    /* Color del thumb (la barra móvil) */
    border-radius: 4px;
    /* Radio de borde del thumb */
}

.dark ::-webkit-scrollbar-thumb:hover {
    background-color: #999;
    /* Color del thumb al pasar el mouse */
}


::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Color del thumb al pasar el mouse */
}


@tailwind base;
@tailwind components;
@tailwind utilities;